<%= form_for(@checking) do |f| %>
  <% if @checking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checking.errors.count, "error") %> prohibited this checking from being saved:</h2>

      <ul>
      <% @checking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
<<<<<<< HEAD
=======
    <%= f.label :current_balance %><br>
    <%= f.text_field :current_balance %>
  </div>
  <div class="field">
>>>>>>> c9844ec63991a62b10a63eb5860a08b272dc7114
    <%= f.label :monthly_account_rate %><br>
    <%= f.number_field :monthly_account_rate, { :value => '0' } %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br>
    <%= f.check_box :is_active, { :checked => true } %>
  </div>
<<<<<<< HEAD
  <%= f.hidden_field(:user_id)%>
=======
  <%= f.hidden_field :user_id%>
>>>>>>> c9844ec63991a62b10a63eb5860a08b272dc7114
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
