<h1>Listing savings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Current balance</th>
      <th>Account type</th>
      <th>Monthly account rate</th>
      <th>Is active</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @savings.each do |saving| %>
      <tr>
        <td><%= saving.user_id %></td>
        <td><%= saving.current_balance %></td>
        <td><%= saving.account_type %></td>
        <td><%= saving.monthly_account_rate %></td>
        <td><%= saving.is_active %></td>
        <td><%= link_to 'Show', saving %></td>
        <td><%= link_to 'Edit', edit_saving_path(saving) %></td>
        <td><%= link_to 'Destroy', saving, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Saving', new_saving_path %>
