<h2>Bills</h2>

<table>
  <thead>
  <tr>
    <th>From Account</th>
    <th>Payee name</th>
    <th>Payee street</th>
    <th>Payee city</th>
    <th>Payee state</th>
    <th>Payee zip</th>
    <th>Payee account</th>
    <th>Amount</th>
    <th>Date Due</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.account_id %></td>
        <td><%= bill.payee_name %></td>
        <td><%= bill.payee_street %></td>
        <td><%= bill.payee_city %></td>
        <td><%= bill.payee_state %></td>
        <td><%= bill.payee_zip %></td>
        <td><%= bill.payee_account_id %></td>
        <td><%= bill.amount %></td>
        <td><%= bill.pay_date %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <% if bill.is_recurring == true -%>
            <td><%= link_to 'Stop Recurrence', stop_recurrence_path(bill) %></td>
        <% else -%>
            <td><%= link_to 'Start Recurrence', start_recurrence_path(bill) %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
