<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @bill.user_id %>
</p>

<p>
  <strong>Account:</strong>
  <%= @bill.account_id %>
</p>

<p>
  <strong>Is recurring:</strong>
  <%= @bill.is_recurring %>
</p>

<p>
  <strong>Payee name:</strong>
  <%= @bill.payee_name %>
</p>

<p>
  <strong>Payee street:</strong>
  <%= @bill.payee_street %>
</p>

<p>
  <strong>Payee city:</strong>
  <%= @bill.payee_city %>
</p>

<p>
  <strong>Payee state:</strong>
  <%= @bill.payee_state %>
</p>

<p>
  <strong>Payee zip:</strong>
  <%= @bill.payee_zip %>
</p>

<p>
  <strong>Payee account:</strong>
  <%= @bill.payee_account_id %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
