<div class="main control-panel">
  <p id="notice"><%= notice %></p>
  <h2>Bill Information</h2>
  <p>
    <strong>User:</strong>
    <%= User.find(@bill.user_id).username %><br/>
    <strong>Account:</strong>
    <%= Account.find(@bill.account_id).display_account_id %><br/>
    <strong>Payee name:</strong>
    <%= @bill.payee_name %><br/>
    <strong>Payee street:</strong>
    <%= @bill.payee_street %><br/>
    <strong>Payee city:</strong>
    <%= @bill.payee_city %><br/>
    <strong>Payee state:</strong>
    <%= @bill.payee_state %><br/>
    <strong>Payee zip:</strong>
    <%= @bill.payee_zip %><br/>
    <strong>Payee account:</strong>
    <%= @bill.payee_account_id %><br/>
    <strong>Amount:</strong>
    <%= @bill.amount %><br/>
    <strong>Pay date:</strong>
    <%= @bill.pay_date %><br/>
    <strong>Is recurring:</strong>
    <%= @bill.is_recurring %><br/>
  </p>
  <%= link_to 'Edit', edit_bill_path(@bill) %>
  <% if @bill.is_recurring == true %>
      <%= link_to 'Stop Recurrence', stop_recurrence_path(@bill) %>
  <% else -%>
      <%= link_to 'Start Recurrence', start_recurrence_path(@bill) %>
  <% end %>
  <%= link_to 'Delete', @bill, :confirm => 'Are you sure?', :method => :delete %>
  <%= link_to 'Back', account_path(@bill.account_id) %>
</div>
