<h1>Teller Panel</h1>

<%= link_to "New Transfer", new_transfer_path %><br/>
<%= link_to "New Bill-Pay", new_bill_path%><br/>
<%= link_to "New Deposit", new_deposit_path %><br/>
<%= link_to "New Withdrawal", new_withdrawal_path %><br/>
<%= link_to "Find User", "user/index" %><br/>

