<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @credit.user_id %>
</p>

<p>
  <strong>Current balance:</strong>
  <%= @credit.current_balance %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @credit.account_type %>
</p>

<p>
  <strong>Monthly account rate:</strong>
  <%= @credit.monthly_account_rate %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @credit.is_active %>
</p>

<%= link_to 'Edit', edit_credit_path(@credit) %> |
<%= link_to 'Back', credits_path %>
