<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @mortgage.user_id %>
</p>

<p>
  <strong>Current balance:</strong>
  <%= @mortgage.current_balance %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @mortgage.account_type %>
</p>

<p>
  <strong>Monthly account rate:</strong>
  <%= @mortgage.monthly_account_rate %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @mortgage.is_active %>
</p>

<%= link_to 'Edit', edit_mortgage_path(@mortgage) %> |
<%= link_to 'Back', mortgages_path %>
