<h1><%= @user.username%></h1>
<%= link_to 'Edit profile', edit_user_registration_path %><br/>
<% if admin? %>
<fieldset>
	<legend>Admin Panel</legend>
	<% if @user.user_level == 3 %>
		<%= link_to "Create Checking Account", new_checking_path(:id=>@user.id) %><br/>
		<%= link_to "Create Credit Account", new_credit_path(:id=>@user.id) %><br/>
		<%= link_to "Create Market Account", new_market_path(:id=>@user.id) %><br/>
		<%= link_to "Create Mortgage Account", new_mortgage_path(:id=>@user.id) %><br/>
		<%= link_to "Create Savings Account", new_saving_path(:id=>@user.id) %><br/>
	<% end %>
	<%= link_to "Make Admin", :controller=>'administrator', :action=>'create', :id=>@user.id %><br/>
	<%= link_to "Make Teller", :controller=>'teller', :action=>'create', :id=>@user.id %><br/>
	<%= link_to "Make Customer", :controller=>'customer', :action=>'create', :id=>@user.id %><br/>
</fieldset>
<% end %>

<% if !@accounts.blank? %>
    <%= render :partial => "/accounts/accounts" %>
<% else %>
    <h3>No Accounts</h3>
<% end %>
