<%= form_for(@transfer) do |f| %>
  <% if @transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
      <% @transfer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if @accounts %>
  <div class="field">
    <%= f.label :from_account_id %>:
    <%= f.select( :from_account_id, @accounts.all.collect { |i| ["#{i.id} : #{number_to_currency(i.current_balance)}", i.id]} ) %>
  </div>
  <div class="field">
    <%= f.label :to_account_id %>:
    <%= f.select( :to_account_id, @accounts.all.collect { |i| ["#{i.id} : #{number_to_currency(i.current_balance)}", i.id]} ) %>
  </div>
<% else %>
  <div class="field">
    <%= f.label :from_account_id %>:
    <%= f.number_field :from_account_id %>
  </div>
  <div class="field">
    <%= f.label :to_account_id %>:
    <%= f.number_field :to_account_id %>
  </div>
<% end %>
  <div class="field">
    <%= f.label :amount_string, "Amount" %>:
    <%= f.text_field :amount_string %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
