<div class="main control-panel">
	<h1><%= @user.display_account_id%></h1>
	<% if customer? %>
		<%= link_to 'Edit profile', edit_user_registration_path %>
		<%= link_to 'Create a Transfer', new_transfer_path %>
		<%= link_to 'Pay Bill Online', new_bill_path %><br/>
	<% end %>
</div>

<% if admin? %>
<div class="main control-panel">
	<legend>Admin Panel</legend>
	<% if @user.user_level == 3 %>
		<%= link_to "Create Checking Account", new_checking_path(:id=>@user.id) %><br/>
		<%= link_to "Create Credit Account", new_credit_path(:id=>@user.id) %><br/>
		<%= link_to "Create Market Account", new_market_path(:id=>@user.id) %><br/>
		<%= link_to "Create Mortgage Account", new_mortgage_path(:id=>@user.id) %><br/>
		<%= link_to "Create Savings Account", new_saving_path(:id=>@user.id) %><br/>
	<% end %>
</div>
<% end %>

<% if !@accounts.blank? %>
  <%= render :partial => "/accounts/accounts" %>
<% else %>
    <div class="main control-panel">
    <h3>No Accounts</h3>
    </div>
<% end %>


<div class="main control-panel">
  <%= render :partial=>'bills/bills'%>
</div>
