<!DOCTYPE html>
<html>
<head>
    <title>BMU</title>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <!-- Enables proper viewing on mobile devices -->
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
</head>
<body>

<header>
    <div id="headerContent">
        <%= image_tag("GringottsSealFilled.png", alt:"Gringotts Seal")%>
        <nav>
            <p class="navbar-text pull-right">
                <% if user_signed_in? %>
                    Logged in as <strong><%= current_user.display_username %></strong>.
                <% if admin? %>
    	            <%= link_to "Admin Panel", admin_panel_path, :class=>'navbar-link' %>
                <% elsif teller? %>
    	            <%= link_to "Teller Panel", teller_panel_path, :class=>'navbar-link' %>
                <% else %>
    	            <%= link_to "Profile", customer_path, :class=>'navbar-link' %>
                <% end %>
                    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                <% else %>
                    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
              <% end %>
        </nav>
    </div>
</header>

<% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-error"><%= alert %></p>
<% end %>

<div id="content">
    <%= yield %>
</div>

<footer>
    <p>The Wizarding Bank of Gringotts &copy; 1743 - 2014</p>
    <p>Diagon Alley North Side - London, England</p>
</footer>
</body>
</html>
