
<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Current balance</th>
      <th>Interest Rate</th>
      <th></th>
      <th></th>
      <% if admin? or teller? %>
	      <th></th>
	      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <h3>Accounts</h3>
    <% for account in @accounts %>
      <tr class="<%= cycle("odd", "even") -%>">
        <td><%= link_to "#{account.account_type}: #{account.display_account_id}", account %></td>
        <td><%= number_to_currency(account.current_balance) %></td>
        <td><%= number_to_percentage(account.monthly_account_rate) %></td>
        <td><%= link_to "View Account", account %></td>
        <% if admin? %>
	        <% if account.is_active == true -%>
	        	<td><%= link_to 'Disable', disable_account_path(account) %></td>
	        <% else -%>
	        	<td><%= link_to 'Enable', enable_account_path(account) %></td>
	        <% end -%>
	        <td><%= link_to "Delete", account_path(account), :method=>:delete, data: { confirm: 'Are you sure?'} %></td>
	   	<% end %>
	   	<% if teller? %>
	   		<td><%= link_to "Deposit", deposit_by_id_path(account)%></td>
	   		<td><%= link_to "Withdraw", withdraw_by_id_path(account)%></td>
            <td><%= link_to "Transfer", transfer_by_id_path(account)%></td>
	   	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
