<% if admin? %>
<fieldset>
	<legend>Admin Panel:</legend>
	Customer:
	<%= link_to @user.username, customer_by_id_path(@user.id) %><br/>
	<% if @account.is_active? %>
		Account is active.
	<% else %>
		Account was deactivated.
	<% end %><br/>
	<%= render :partial=>'edit_button' %>
</fieldset>
<% end %>
<% if teller? %>
<fieldset>
	<legend>Teller Panel</legend>
	Customer:
	<%= link_to @user.username, customer_by_id_path(@user.id) %><br/>
	<% if @account.is_active? %>
		Account is active.
	<% else %>
		Account was deactivated.
	<% end %><br/>
	<%= link_to "Deposit", deposit_by_id_path(@account.id) %> |
	<%= link_to "Withdraw", withdraw_by_id_path(@account.id) %> |
	<%= link_to "Transfer", new_transfer_by_params_path(@account.user_id) %>
</fieldset>
<% end %>

<p>
  <strong>Account Number:</strong>
  <%= @account.id %><br>
  <strong>Account type:</strong>
  <%= @account.account_type %><br>
  <strong>Current balance:</strong>
  <%= number_to_currency(@account.current_balance) %><br>
  <strong>Monthly account rate:</strong>
  <%= number_to_percentage(@account.monthly_account_rate) %><br>
</p>
<% if !@transactions.blank? %>
 <%= render :partial => "transactions/transactions" %>
<% else %>
 <h3>No Transaction History</h3>
<% end %>
