<p id="notice"><%= notice %></p>

<p>
  <strong>Account type:</strong>
  <%= @account.account_type %><br>
  <strong>Current balance:</strong>
  <%= number_to_currency(@account.current_balance) %><br>
  <strong>Monthly account rate:</strong>
  <%= number_to_percentage(@account.monthly_account_rate) %><br>
</p>
<% if !@transactions.blank? %>
 <%= render :partial => "transactions/transactions" %>
<% else %>
 <h3>No Transaction History</h3>
<% end %>
